/*//////////////////////
Navigation bar styling 
//////////////////////*/

#portfolio-logo {
    margin-top: 19px;
    margin-right: 4px;
    width: 80px;
    height: auto;
    vertical-align: middle;
  }
  
  #navbar-container {
    padding: 54px 41.5px 0 72px;
    z-index: -5;
  }
  
  #navbar-contents {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive; 
  }
  
    #navbar-contents * { text-decoration: none;}
    #navbar-contents > * {
      letter-spacing: 1px;
      margin-right: 48px;
      transition: 0.3s;
      cursor: pointer;
      display: inline;
    }
  
    #navbar-contents > *:last-of-type {
      margin-right: 0;
    }
  
    #navbar-contents > *:hover {
      opacity: 0.5;
    }
  
  #logo {
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 60px;
    margin: 0 48px;
    z-index: -6;
  }
  
  
  /*Mobile Responsive Design */
  #navbar-menu-button {
    z-index: 10;
    display: none;
    position: fixed;
    left: 24px;
    top: 24px;
    height: 24px;
    width: auto;
  }
  
  #navbar-menu-content {
    display: flex;
    position: fixed;
    width: 80vw;
    height: 100vh;
    top: 0;
    left: -80%;
    opacity: 0;
    background: #101010;
    z-index: 7;
    padding: 100px 0 0 24px;
    text-align: left;
    transition: all 1.2s ease;
    flex-direction: column;
  }
  
  #navbar-menu-content > ul {
    font-size: 20px;
    font-family: 'Bebas Neue';
    margin: 16px 0;
    letter-spacing: 2px;
  }
  #navbar-menu-content > hr {
    width: calc(100% - 24px);
    margin: 0;
    color:gray;
    background: gray;
    border-color: rgba(255,255,255,0.25)
  }
  
  @media (max-width: 648px) {
    #navbar-container {
      padding: 0;
      margin-top: 16px;
      position: relative;
      height: 72px;
      width: 100%;
    }
    #navbar-contents > * { display: none; margin: 0}
    #navbar-contents > *:nth-of-type(3) { display: block; }
    #logo { width: 72px; height: 72px;}
    #portfolio-logo {width: 56px; margin-top: 14px;}
  
    #navbar-menu-button { display: inline; }
    #navbar-menu-content.active {
      left: 0;
      opacity: 1;
      transition: all 1s ease; 
    }
  }
  