#project-main {
    height: calc(100vh - 154px);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.project-main-content {
    flex-basis: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
}  
    #project-main-title {
        font-size: 80px;
        letter-spacing: 3px;
    }
    #project-main-subtitle {
        letter-spacing: 2px;
        margin-top: 16px;
        font-family: 'Roboto';
        font-size: 18px;
        color: gray;
    }
    .project-main-linebr {
        margin: 32px auto;
        width: 100px;
        color: whitesmoke;
    }
    #project-main-des {
        margin: 16px auto 0;
        font-family: 'Roboto';
        font-size: 16px;
        width: 800px;
        line-height: 22px;
        color: lightgrey;
    }

.project-section {
    height: 100vh;
    background-color: white;
}
    .project-section-title {
        margin: 0 26px;
        font-size: 56px;
        display: inline-block; 
        color: black;

    }
    .project-section-title:before, :after{
        border-bottom: 2px solid #000; 
    }


/* Styling for latest project section 
/////////////////////////////////////*/
#latest-project-content {
    height: calc(97vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#latest-project-content * {
    color: black
}
#latest-project-title {
    font-size: 56px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    text-align: center;
}

#latest-project-stack {
    margin-top: 16px;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Roboto';
    text-align: center;
}

#latest-project-des {
    width: 1180px;
    padding-bottom: 8vh;
}

.latest-project-left {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
    margin-top: 3vh;
    padding-top: 32px;
    vertical-align: top;
}
    .img-gallery {
        width: 92%;
        margin-bottom: 30px;
    }

.latest-project-right {
    width: 48%;
    height: 100%;
    margin-left: 2%;
    display: inline-block;
    margin-top: 3vh;
}

    .latest-project-right > p {
        font-size: 16px;
        line-height: 18px;
    }

/* Styling for all projects section 
/////////////////////////////////////*/
#all-projects-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#all-projects-title {
    font-size: 80px;
    letter-spacing: 3px;
}

#all-projects-subtitle {
    letter-spacing: 1px;
    margin-top: 12px;
    font-family: 'Roboto';
    font-size: 16px;
    color: gray;
}

#all-projects-grid {
    width: 50vw;
    margin: 0 auto;
    overflow-y: auto;
    height: 60.1vh;
}

.all-projects-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.all-projects-entry {
    flex-basis: 33.3333%;
    height: 20vh;
    position: relative;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
    .all-projects-entry:hover img{
        opacity: 0.6;
    }
    .all-projects-entry-selected {
        position: absolute;
        font-size: 2vw;
        top: 8vh;
        z-index: 1;
        width: 16.16vw;
    }
        .all-projects-entry-selected * {
            color: black;
            letter-spacing: 1px;
        }