#project-main {
    height: calc(100vh - 154px);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.project-main-content {
    flex-basis: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
}  
    #project-main-title {
        font-size: 80px;
        letter-spacing: 3px;
    }
    #project-main-subtitle {
        letter-spacing: 2px;
        margin-top: 16px;
        font-family: 'Roboto';
        font-size: 18px;
        color: gray;
    }
    .project-main-linebr {
        margin: 32px auto;
        width: 100px;
        color: whitesmoke;
    }
    #project-main-des {
        margin: 16px auto 0;
        font-family: 'Roboto';
        font-size: 16px;
        width: 800px;
        line-height: 22px;
        color: lightgrey;
    }

.project-section {
    height: 100vh;
    background-color: white;
}
    .project-section-title {
        margin: 0 26px;
        font-size: 56px;
        display: inline-block; 
        color: black;

    }
    .project-section-title:before, :after{
        border-bottom: 2px solid #000; 
    }


/* Styling for latest project section 
/////////////////////////////////////*/
#latest-project-content {
    height: calc(97vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#latest-project-content h2, #latest-project-content h3,  #latest-project-content p { color: black }

/* Styling for all projects section (gallery)
/////////////////////////////////////*/
#all-projects-content {
    margin-top: 16vh;
    height: auto;
}

#all-projects-title {
    font-size: 80px;
    letter-spacing: 3px;
}

#all-projects-subtitle {
    letter-spacing: 1px;
    margin-top: 12px;
    font-family: 'Roboto';
    font-size: 16px;
    color: gray;
}

#all-projects-grid {
    width: 57vw;
    margin: 0 auto;
    padding-bottom: 16vh;
}

.all-projects-row {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

.all-projects-entry {
    flex-basis: 33.3333%;
    height: 24vh;
    position: relative;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
    .all-projects-entry:hover img{
        opacity: 0.56;
    }
    .all-projects-entry-selected {
        position: absolute;
        font-size: 2.5vw;
        top: 8.4vh;
        z-index: 1;
        width: 19vw;
    }
        .all-projects-entry-selected * {
            color: black;
            letter-spacing: 1px;
        }
        
        .all-projects-entry-selected > p {
            font-size: 0.92vw;
        }


/* Styling for popup when project entry is clicked */
.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}

.box {
    position: relative;
    width: 80vw;
    z-index: 20;
    margin: 0 auto;
    height: auto;
    max-height: 80vh;
    margin-top: 10vh;
    background: white;
    overflow: auto;
    padding: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .box p, .box h2, .box h3 {
        color: black;
    }

/*Styling for project description/showcase 
/////////////////////////////////////////*/

.project-title {
    font-size: 56px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    text-align: center;
}

.project-stack {
    margin-top: 16px;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Roboto';
    text-align: center;
}

.project-left-section {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
    margin-top: 3vh;
    vertical-align: top;
}
    .img-gallery {
        width: 92%;
        margin-bottom: 30px;
    }

.project-right-section {
    width: 48%;
    height: 100%;
    margin-left: 2%;
    display: inline-block;
    margin-top: 3vh;
}

    .project-right-section > p {
        font-size: 16px;
        line-height: 18px;
    }
