/*/////////////////////
//General Tag's Styling 
/////////////////////*/
* {
  font-family: 'Roboto', sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive; 
  letter-spacing: 2px;
}

header {
  position: relative;
  z-index: 1000;
}


/*////////////////////////////
General styling for all pages
////////////////////////////*/
#content-container {
  height: 100vh;
  background-color: black;
  z-index: -3;
}

.width-size {
  padding: 0 0px;
  max-width: 1180px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/*//////////////////////
Navigation bar styling 
//////////////////////*/
#navbar-container {
  padding: 54px 72px 0;
}

#navbar-contents {
  font-size: 36px;
  font-family: 'Bebas Neue', cursive; 
}

  #navbar-contents * { text-decoration: none;}
  #navbar-contents > * {
    letter-spacing: 1px;
    margin-right: 48px;
    transition: 0.3s;
    cursor: pointer;
    display: inline;
  }

  #navbar-contents > *:last-of-type {
    margin-right: 0;
  }

  #navbar-contents > *:hover {
    opacity: 0.5;
  }

#logo {
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: white;
  font-size: 60px;
  margin: 0 48px;
}